<label>Server Name</label>
<input
  style="padding-bottom: 5px"
  type="text"
  class="form-control"
  (input)="onUpdateServerName($event)"
>
<input
  type="text"
  class="form-control"
  [(ngModel)]="serverName"
>
<p>{{ serverName }}</p>
<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()">Add Server
</button>
<hr>
<p>{{ allowNewServer }}</p>
<p [innerText]="allowNewServer"></p>
<hr>
<p>{{ serverCreationStatus }}</p>
<hr>
<app-server></app-server>
<app-server></app-server>
